site_name: GhostMicro Library Docs
site_url: https://github.com/gridsmicro/GhostMicro-Library-Documents
repo_url: https://github.com/gridsmicro/GhostMicro-Library-Documents
edit_uri: edit/main/docs/

use_directory_urls: false

theme:
  name: material
  palette:
    # Dark mode default
    - scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Light mode toggle
    - scheme: default
      primary: white
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html

plugins:
  - search

nav:
  - Home: index.md
